.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Build results
bin/
obj/

# Do not upload sensitive config to GitHub
config.json

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
